services:
  openwebui:
    container_name: openwebui
    image: ghcr.io/open-webui/open-webui:main
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - DEFAULT_MODELS=gpt-4.1
      - ENABLE_WEB_SEARCH=True
      - WEB_SEARCH_ENGINE=duckduckgo
      - WEB_SEARCH_RESULT_COUNT=10
    volumes:
      - /mnt/shared/portainer/openwebui/data:/app/backend/data
    networks:
      - homelab-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.openwebui.rule=Host(`chat.koye.casa`)"
      - "traefik.http.routers.openwebui.tls=true"
      - "traefik.http.services.openwebui.loadbalancer.server.port=8080"
    restart: unless-stopped

  # n8n:
  #   container_name: n8n
  #   image: docker.n8n.io/n8nio/n8n
  #   environment:
  #     - TZ=Europe/Warsaw
  #     - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
  #     - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
  #     - N8N_PORT=5678
  #     - N8N_PROTOCOL=https
  #     - N8N_RUNNERS_ENABLED=true
  #     - NODE_ENV=production
  #     - N8N_TRUST_PROXY=true
  #     - DB_SQLITE_POOL_SIZE=3
  #     - N8N_BLOCK_ENV_ACCESS_IN_NODE=false
  #     - N8N_GIT_NODE_DISABLE_BARE_REPOS=true
  #     - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
  #   volumes:
  #     - /mnt/shared/portainer/n8n/data:/home/node/.n8n
  #     - /mnt/shared/portainer/n8n/files:/files
  #   networks:
  #     - homelab-network
  #   labels:
  #     - "traefik.enable=true"
  #     - "traefik.http.routers.openwebui.rule=Host(`n8n.koye.casa`)"
  #     - "traefik.http.routers.openwebui.tls=true"
  #     - "traefik.http.services.openwebui.loadbalancer.server.port=5678"
  #   restart: unless-stopped

networks:
  homelab-network:
    name: homelab-network
    external: true
