services:
  bentopdf:
    container_name: bentopdf
    image: bentopdf/bentopdf:latest
    environment:
      - TZ=Europe/Warsaw
    networks:
      - homelab-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pdf.rule=Host(`pdf.koye.casa`)"
      - "traefik.http.routers.pdf.entrypoints=websecure"
      - "traefik.http.routers.pdf.tls=true"
      - "traefik.http.services.pdf.loadbalancer.server.port=8080"
    restart: unless-stopped
  excalidraw:
    container_name: excalidraw
    image: excalidraw/excalidraw:latest
    environment:
      - TZ=Europe/Warsaw
    volumes:
      - /mnt/shared/homelab/excalidraw:/data
    networks:
      - homelab-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.excalidraw.rule=Host(`draw.koye.casa`)"
      - "traefik.http.routers.excalidraw.entrypoints=websecure"
      - "traefik.http.routers.excalidraw.tls=true"
      - "traefik.http.services.excalidraw.loadbalancer.server.port=80"
    restart: unless-stopped
  optionable:
    container_name: optionable
    image: yomikoye/optionable:latest
    pull_policy: always
    environment:
      - TZ=Europe/Warsaw
      - NODE_ENV=production
      - DATA_DIR=/data
    volumes:
      - /mnt/shared/homelab/optionable/data:/data
    networks:
      - homelab-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.optionable.rule=Host(`optionable.koye.casa`)"
      - "traefik.http.routers.optionable.entrypoints=websecure"
      - "traefik.http.routers.optionable.tls=true"
      - "traefik.http.services.optionable.loadbalancer.server.port=8080"
    restart: unless-stopped

networks:
  homelab-network:
    name: homelab-network
    external: true