services:
  moltbot:
    container_name: moltbot
    image: yomikoye/moltbot:latest
    pull_policy: always
    environment:
      - HOME=/home/node
      - TERM=xterm-256color
      - NODE_ENV=production
      - TZ=Europe/Warsaw
      - MOLTBOT_STATE_DIR=/home/node/.moltbot
      - CLAWDBOT_GATEWAY_TOKEN=${CLAWDBOT_GATEWAY_TOKEN}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - OPENROUTER_API_KEY=${OPENROUTER_API_KEY}
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN}
    volumes:
      - /mnt/shared/homelab/molt/config:/home/node/.moltbot
      - /mnt/shared/homelab/molt/workspace:/home/node/clawd
      - /mnt/shared/git:/home/node/git
      - /mnt/shared/homelab:/home/node/homelab
    networks:
      - homelab-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.moltbot.rule=Host(`bot.koye.casa`)"
      - "traefik.http.routers.moltbot.entrypoints=websecure"
      - "traefik.http.routers.moltbot.tls=true"
      - "traefik.http.services.moltbot.loadbalancer.server.port=18789"
    command:
      [
        "node",
        "dist/index.js",
        "gateway",
        "--bind",
        "lan",
        "--port",
        "18789"
      ]
    init: true
    restart: unless-stopped

networks:
  homelab-network:
    name: homelab-network
    external: true
