services:
  bentopdf:
    container_name: bentopdf
    image: bentopdf/bentopdf:latest
    environment:
      - TZ=Europe/Warsaw
    networks:
      - homelab-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pdf.rule=Host(`pdf.koye.casa`)"
      - "traefik.http.routers.pdf.tls=true"
      - "traefik.http.services.pdf.loadbalancer.server.port=8080"
    restart: unless-stopped

networks:
  homelab-network:
    name: homelab-network
    external: true